.shoppingcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    color: aliceblue;
}

.cart-invoice, .cart-table {
    background-color: white;
    width: 400px;
}

.cart-invoice {
    font-weight: bolder;
    color: black;
}


